<div class="container-fluid mt-4">
  <div class="row mt-3">
    <div class="col-md-3 content-center mt-3" *ngFor="let data of assignedValue?.results">
      <div class="card" style="width: 18rem;">
        <img src={{data.picture?.large}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ data.name?.title +  ":" + " " + data.name?.first + " " + data.name?.last}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div #scrollTrigger style="display: flex; justify-content: center; margin: 3rem 0;">
      <span class="loader"></span>
    </div>
  </div>
</div>
